<h1>All Bookings</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.book.title %></td>
        <td><%= booking.book.author %></td>
        <td><%= booking.start_date %></td>
        <td><%= booking.end_date %></td>
        <td><%= booking.sum_price %></td>
      </tr>
    <% end %>
  </tbody>
</table>
