<main>
  <div class="card-show">
    <div class="card__title">
      <div class="icon">
        <a href="/books/"><i class="fa fa-arrow-left"></i></a>
      </div>
      <h3>-Rental-</h3>
    </div>

    <div class="card__body">

      <div class="half">
        <div class="image">
          <% if @book.photo.attached? %>
            <%= cl_image_tag(@book.photo.key, class: 'folded-corner') %>
          <% else %>
            <%= image_tag("book_default.jpg", class: 'folded-corner') %>
          <% end %>
        </div>
      </div>

      <div class="half">
        <div class="card-body" data-controller="price">
          <%= simple_form_for [@book, @booking] do |form| %>
          <div class ="form p-2">
              <%= form.input :start_date,
              as: :string,
              label_html: {class: "form-label"},
              input_html: { data: { controller: "datepicker", price_target:"start"}, class: "bg-white" } %>
          </div>

          <div class ="form p-2">
              <%= form.input :end_date,
              as: :string,
              input_html: { data: { controller: "datepicker", action:"change->price#calculate", price_target:"end" }, class: "bg-white" } %>
                <div class="form-label">
                  <p>Total price (in Є): <span data-price="<%=@book.price%>" data-price-target="total"></p>
                  <%= form.input :sum_price, as: :hidden,
                  input_html: { data: { price_target: "sum" } } %>
                </div>
          </div>
        </div>
      </div>

    </div>

    <div class="card__footer d-flex justify-content-end ">

      <div>
        <%= form.submit class: "action" %>
      </div>
    </div>
      <% end %>
  </div>
</main>
