<div class = "container m-5 align-self-stretch d-flex">

  <div class = "card p-3 my-auto mx-auto" style="width:250px">
    <div class="d-flex align-items-center justify-content-center">
      <div class="card-body" data-controller="price">
        <%= simple_form_for [@book, @booking] do |form| %>
          <div class ="form p-2">
            <%= form.input :start_date,
            as: :string,
            input_html: { data: { controller: "datepicker", price_target:"start"} } %>
          </div>
          <div class ="form p-2">
            <%= form.input :end_date,
            as: :string,
            input_html: { data: { controller: "datepicker", action:"change->price#calculate", price_target:"end" } } %>
            <div>
              <p>Total price (in Є): <span data-price="<%=@book.price%>" data-price-target="total"></p>
              <%= form.input :sum_price, as: :hidden,
input_html: { data: { price_target: "sum" } } %>
          </div>
          <div class ="form p-2 btn btn-flat">
          <%= form.submit %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
