<div class="container map text-end">
  <div class="row">
    <div class="col-6 map align-middle mt-3">
      <div class="card map">
          <div style="width: 100%; height: 600px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
      </div>
    </div>
    <div class="col-6 explain">
      <hr>
      <h2>How it works</h2>
      <p>
      Welcome to our community-driven haven of second-hand books, where diverse literary treasures await your discovery. Prices set by owners ensure affordable access to captivating stories, providing a daily escape into imaginative realms.
      <br><br>
      Explore titles further with a click, unveiling nuances, history, and charm. This isn't just a transaction; it's an invitation to embark on a unique literary journey.
      <br><br>
      Our interactive map guides you through this literary landscape, pinpointing book locations. Look up your neighborhood and discover exciting reads just around the corner.
      <br><br>
      More than a book collection, this is a shared space fostering a love for reading and storytelling. Each book holds someone's journey and passion for the written word.
      <br><br>
      Whether a seasoned reader or a curious newcomer, relish the joy of literary exploration. Let the pages turn and transport you to new worlds. Happy reading!
      </p>
      <hr>
    </div>
  </div>
</div>

<div class="container card-container">
  <h2>Available books</h2>
  <hr>
  <div class="row">
    <% @books.each do |book| %>
      <div class="col mb-5">
        <div class="card d-flex flex-column justify-content-between" style="width: 18rem;">
           <% if book.photo.attached? %>
            <div style="background-image: url('<%= cl_image_path book.photo.key %>')" id="index-card-bg"></div>
          <% else %>
            <div style="background-image: url('<%= image_path 'book_default.jpg' %>')" id="index-card-bg"></div>
          <% end %>
          <div class="card-body">
            <h3 class="card-title" style="font-size: 1.7rem"><%= book.title %></h5>
            <div class="card-overflow">
              <div class="">
                <p class="card-text"><strong>Author - <%= book.author %></strong></p>
                <p class="card-text"><strong>Address - <%= book.address %></strong></p>
                <p class="card-text"><strong>€<%= book.price %> per day</strong></p>
              </div>
              <hr>
            </div>
          </div>
          <div class="see-more-btn"><%= link_to "See more", book_path(book), class: "btn btn-primary card-btn" %></div>
        </div>
      </div>
    <% end %>
  </div>
</div>
