<div class="container card-container">
  <div class="row">
    <% @books.each do |book| %>
      <div class="col m-5">
        <div class="card d-flex flex-column justify-content-between" style="width: 18rem;">
          <% if book.image_url != nil %>
            <%= image_tag(book.image_url) %>
          <% else %>
            <%= image_tag("book_default.jpg") %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= book.title %></h5>
            <div class="card-overflow">
              <p class="card-text"><%= book.description %></p>
            </div>
          </div>
          <%= link_to "See more", book_path(book), class: "btn btn-primary card-btn" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
