
<main>
  <div class="card-show">
    <div class="card__title">
      <div class="icon">
        <a href="/books/"><i class="fa fa-arrow-left"></i></a>
      </div>
      <h3>-Rental-</h3>
    </div>

    <div class="card__body">

      <div class="half">
        <div class="image">
          <% if @book.photo.attached? %>
            <%= cl_image_tag(@book.photo.key, class: 'folded-corner') %>
          <% else %>
            <%= image_tag("book_default.jpg", class: 'folded-corner') %>
          <% end %>
        </div>
      </div>

      <div class="half">
        <div class="card-body">
        <%= form_with model: @book do |form| %>
          <div class ="form p-2">
            <%= form.label :author, "Title", class: "form-label" %>
            <br>
            <%= form.text_field :title, class: "w-75" %>
          </div>
          <div class ="form p-2">
            <%= form.label :author, "Author", class: "form-label" %>
            <br>
            <%= form.text_field :author, class: "w-75" %>
          </div>
          <div class ="form p-2">
            <%= form.label :description, "Description", class: "form-label" %>
            <br>
            <%= form.text_field :description, class: "w-75"%>
          </div>
          <div class ="form p-2">
            <%= form.label :address, "Address", class: "form-label" %>
            <br>
            <%= form.text_field :address, class: "w-75"%>
          </div>
          <div class ="form p-2">
            <%= form.label :author, "Price", class: "form-label" %>
            <br>
            <%= form.number_field :price, class: "w-75"%>
          </div>
          <div class="form p-2">
            <%= form.label :photo, "Book cover", class: "form-label" %>
            <br>
            <%= form.file_field :photo, class: "w-75" %>
          </div>
      </div>
      </div>
    </div>
    <div class="card__footer">
      <div class="recommend">
        <p></p>
        <h3></h3>
      </div>
      <div >
        <%= form.submit class: "action" %>
      </div>
      <% end %>
    </div>
  </div>
</main>
