<main>
  <div class="card-show">
    <div class="card__title">
      <div class="icon">
        <a href="/"><i class="fa fa-arrow-left"></i></a>
      </div>
      <h3>-Rental-</h3>
    </div>
    <div class="card__body">
      <div class="half">
        <div class="image">
          <% if @book.photo.attached? %>
            <%= cl_image_tag(@book.photo.key, class: 'folded-corner') %>
          <% else %>
            <%= image_tag("book_default.jpg", class: 'folded-corner') %>
          <% end %>
        </div>
      </div>
      <div class="half">
        <div class="featured_text">
          <h1><%= @book.title %></h1>
          <p class="sub">by <%= @book.author %></p>
          <p class="price">€<%= @book.price %></p>
        </div>
        <div class="description">
          <p><%= @book.description %></p>
        </div>
        <span class="stock"><i class="fa fa-pen"></i> Available</span>
        <div class="reviews">
          <ul class="stars">
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star-o"></i></li>
          </ul>
          <span>(64 reviews)</span>
        </div>
      </div>
    </div>
    <div class="card__footer">
      <div class="recommend">
        <p></p>
        <h3></h3>
      </div>
      <div class="action">
        <button type="button">Borrow this book</button>
      </div>
    </div>
  </div>
</main>
